@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListAll</title>
</head>
<body>
    <h1>Category: @Model.CurrentCategory</h1>
    @{

        foreach (var item in Model.ItemsList)
        {
            <div>
                <h4>Name: @item.Name </h4>
                <h4>Description: @item.Description </h4>
                <h4>Price: @item.Price </h4>
                <h4>Category: @item.Category.Name </h4>
                <h4>Availability: (@item.IsAvailable?"Available:"Not Available:) </h4>
            </div>
        }
    }
</body>
</html>

