@model Item
@* <style>
    .menu-item {
        padding: 15px;
        background: white;
    }
    col-md-3 col-6
</style> *@
<div class="col ">
    <div class="card h-100  shadow rounded-3">
        <img class="img-fluid card-img-top" src="@Model.imageUrl" alt="@Model.Name" style="height: 200px; object-fit: cover;" />
            <div class="card-body">
                <h5 class="card-title">@Model.Name </h5>
                <p class="lead text-muted">@Model.Category.Name </p>

                <div class="d-flex">
                    <p class="card-text me-1">@Model.Description </p>
                </div>
                <div class=" mt-3 d-flex border rounded ">
                <a class="btn btn-outline-success m-2" href="/Cart/AddToCart?id=@Model.ItemId">Add to Cart</a>
                <p class="card-text lead fw-bold ms-1 align-content-center">@Model.Price EGP</p>

                </div>
            </div>

        </div>
</div>
@* <p class="lead">Availability: @(Model.IsAvailable ? "Available" : "Not Available") </p> *@
